body {
    background-color: #f0f0f0; 
    color: #444; 
    font-family: 'Roboto', sans-serif; 
    line-height: 1.5; 
    width: 60%;
    margin: 0 auto;
    padding: 2% 0;
}

main {
    background-color: #ffffff; 
    padding: 20px;
}

h1, h2 {
    color: rgb(140, 76, 8); 
}

section {
    margin-top: 0px;
    padding-bottom: 5px;
    border-top: solid 1px gray; 
}

ul, ol {
    margin-left: 20px;
}

a {
    color: rgb(140, 76, 8); 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
